<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{htmlWebpackPlugin.options.title}}</title>

	</head>
	<body>
		<main>
			<dialog id="todoFormDialog">
				<form action="/" method="dialog" id="addTodoForm">
					<h2>Add A New Todo</h2>
					<div>
						<label for="todoTitle">Title</label>
						<input type="text" name="todoTitle" id="todoTitle" />
					</div>
					<div>
						<label for="todoTask">Task</label>
						<input type="text" name="todoTask" id="todoTask" />
					</div>
					<div>
						<label for="todoDueDate">Due Date</label>
						<input type="date" name="todoDueDate" id="todoDueDate" />
					</div>
					<div>
						<label for="todoPriority">Priority</label>
						<select name="todoPriority" id="todoPriority">
							<option value="low">Low</option>
							<option value="medium">Medium</option>
							<option value="high">High</option>
						</select>
					</div>
					<div>
						<button id="addTodoBtn">Add</button>
					</div>
				</form>
				<form action="/" method="dialog" id="editTodoForm" data-todoId="">
					<h2>Edit Todo</h2>
					<div>
						<label for="todoTitle">Title</label>
						<input type="text" name="todoTitle" id="todoTitle" />
					</div>
					<div>
						<label for="todoTask">Task</label>
						<input type="text" name="todoTask" id="todoTask" />
					</div>
					<div>
						<label for="todoDueDate">Due Date</label>
						<input type="date" name="todoDueDate" id="todoDueDate" />
					</div>
					<div>
						<label for="todoPriority">Priority</label>
						<select name="todoPriority" id="todoPriority">
							<option value="low">Low</option>
							<option value="medium">Medium</option>
							<option value="high">High</option>
						</select>
					</div>
					<div>
						<button id="editTodoBtn">Edit</button>
					</div>
				</form>
			</dialog>

			<button id="openAddTodoForm">Add To Do</button>
			<div id="todoListContainer">
				<!-- Injected by JS -->
			</div>
		</main>
	</body>
</html>