<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{htmlWebpackPlugin.options.title}}</title>

	</head>
	<body>
		<main>
			<form action="/" method="post" id="addTodoForm">
				<div>
					<label for="todoTitle">Title</label>
					<input type="text" name="todoTitle" id="todoTitle" />
				</div>
				<div>
					<label for="todoTask">Task</label>
					<input type="text" name="todoTask" id="todoTask" />
				</div>
				<div>
					<label for="todoDueDate">Due Date</label>
					<input type="date" name="todoDueDate" id="todoDueDate" />
				</div>
				<div>
					<label for="todoPriority">Priority</label>
					<select name="todoPriority" id="todoPriority">
						<option value="3">Low</option>
						<option value="2">Medium</option>
						<option value="1">High</option>
					</select>
				</div>
				<div>
					<button id="addTodoBtn">Add</button>
				</div>
			</form>
			<button id="openTodoFormBtn">Add To Do</button>
			<div id="todoListContainer">
				<!-- Injected by JS -->
			</div>
		</main>
	</body>
</html>